// _variables.scss
$font-primary: "Orbitron", sans-serif;
$font-secondary: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

$color-bg: #010101;
$color-text: #fbff00;
$color-accent: #00ffff;
$color-cta: #3de526;
$color-strong: #0067ff;
$color-shadow: #ce2857;
$color-border: #00f0ff;
$color-focus: #fffb00;

//background gradient
$color-bg-green: #98ffba;
$color-bg-blue: #a4dfff;
$color-bg-purple: #895fc9;
$color-bg-pink: #e9cdf0;
$color-bg-orange: #fdede4;

$gradient-input: linear-gradient(135deg, #ff00cc, #3333ff);
$gradient-focus: linear-gradient(135deg, #3333ff, #ff00cc);
