.modal-body {
    text-align: center;
    padding: 30px;
    height: 80%;
    margin: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #010101;
    color: #00ffff;
    overflow-y: scroll;
}

.close-icon {
    float: right;
    text-align: right;
    color: #cabfbf;
    height: 2.5em;
}