.container {
    /* border: 2px solid chartreuse; */
    width: 90%;
    min-height: 75%;
}

.icon-container {
    color: #ce2857;
    /* TODO: figure out how to make color a linear gradient */
}

.reaction-icon {
    padding: 10px;
    height: 8em;
    vertical-align: top;
    /* TODO: add breakpoints for icon spacing */
}

.icon-text {
    padding: 30px;
    display: flex;
}

#head span {
    padding: 30px;
}

button {
    background-color: #3de526;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1rem 2rem;
    margin: 1em auto;
    font-size: 2rem;
    border-radius: 0.3rem;
    width: 100%;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
}