html,
.App {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #010101;
  color: #fbff00;
}

.icon {
  height: 2.5em;
}

.intro-img {
  width: 80%;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
}

strong {
  color: #0067ff;
  text-shadow: 1px 1px #ce2857;
}
